# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
*  Python
*  R
*  SQL
*  Julia
*  Java

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia
5. SAS(Statistical Analysis System)
6. Java

Some of the commonly used libraries used by Data Scientists include:
*   Numpy
*   Pandas
*   Matplotlib
*   Seaborn
*   Scikit-learn
*   Tensorflow
*   PyTorch
*   Keras
*   Statsmodels
*   NLTK (Natural Language Toolkit)
*   spaCy
*   OpenCV
*   Beautiful Soup
*   Gensim

|Data Science Tools|
|-----|
|Jupyter Notebooks|
|RStudio|
|Anaconda|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [3]:
200/60
#This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Rosyaifa Meifani Pratami